<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.SysLogDao">
  <insert id="insertSelective" parameterType="com.example.demo.DO.SysLogDO">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="request != null">
        request,
      </if>
      <if test="response != null">
        response,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="requestDate != null">
        request_date,
      </if>
      <if test="responseDate != null">
        response_date,
      </if>
      <if test="requestIp != null">
        request_ip,
      </if>
      <if test="requestHostName != null">
        request_host_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="request != null">
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="response != null">
        #{response,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requestDate != null">
        #{requestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="responseDate != null">
        #{responseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requestIp != null">
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestHostName != null">
        #{requestHostName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>
